{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1>About Us</h1>
        <br>
        <section>
            <p>Welcome to the Movie App, your go-to destination for exploring movies and TV shows effortlessly! Our platform harnesses the power of the Open Movie Database (OMDb) API to bring you comprehensive information about your favorite cinematic gems.
               Our mission is to provide movie enthusiasts, casual viewers, and industry professionals alike with a comprehensive platform to explore, discover, and engage with the world of film.
            </p>
            <br>
            <h1>What We Offer:</h1>
            <br>
            <p>With an extensive database spanning genres, eras, and cultures, Movie App offers a treasure trove of information on movies old and new. Whether you're searching for classic Hollywood gems, indie darlings, foreign masterpieces, or the latest blockbusters, you'll find it all here.</p>
            <br>
            <h1>How It Works:</h1>
            <br>
            <p>Behind the scenes, Movie App utilizes the OMDb API to fetch real-time data, ensuring that you have access to the latest information about your favorite films and series.</p>
            <br>
            <h1>Get Started</h1>
            <br>
            <p>Ready to embark on your cinematic journey? Visit Movie App today and start exploring the fascinating world of movies and TV shows. Whether you're seeking classics or the latest releases, Movie App is your ultimate companion for all things entertainment.</p>
            <br>
            <h1>Experience Movie Magic with Movie App:</h1>
            <br>
            <p>Discover, explore, and immerse yourself in the captivating universe of movies and TV shows with Movie App. Start your adventure today!</p>
        </section>

    </div>
</div>
{% endblock %}

